.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post h2 {
    color: #333;
}

.post p {
    color: #666;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

nav {
    background-color: #333; /* Dark gray background */
    padding: 10px 0; /* Add some padding on top and bottom */
}

ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center-align the list items */
}

li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add some spacing between list items */
}

li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}

a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-bottom: 100px;
    position: relative;
    min-height: 100vh;
}