.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post h2 {
    color: #333;
}

.post p {
    color: #666;
}

.content-wrapper {
    margin: 60px auto 0; /* platz nach oben für content sonst ist die navbar auf dem content */
    max-width: 800px;
}

nav {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* damit die navbar immer über dem content ist */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline; /* horizontale einstellung */
    margin-right: 20px; /* platz zwischen wörtern */
    color: rgb(255, 122, 104);
}

li:last-child {
    margin-right: 0;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 5px 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 60px; /* ohne das verschwindet der content zu weit unter der navbar */
    padding-bottom: 60px;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333; /* Dark text color */
    text-align: center;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Increased letter spacing for emphasis */
    margin-top: 50px; /* Add some space at the top */
    padding: 20px 0; /* Add padding for better visual separation */
    background: linear-gradient(to right, #f8f8f8, #ffffff); /* Gradient background */
    border-bottom: 2px solid #ccc; /* Bottom border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* CSS for hover effect */
h1:hover {
    color: #ff6600; /* Change text color to orange on hover */
    animation: burning 1s infinite alternate; /* Burning animation */
}

/* Keyframe animation for burning effect */
@keyframes burning {
    0% {
        text-shadow: 0 0 20px #ff6600, 0 0 40px #ff6600, 0 0 80px #ff6600, 0 0 160px #ff6600; /* Intensified burning flame text shadow */
    }
    100% {
        text-shadow: 0 0 40px #ff6600, 0 0 80px #ff6600, 0 0 160px #ff6600, 0 0 320px #ff6600; /* Further intensified burning flame text shadow */
    }
}