{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>Legal Notice</h1>
    </header>
    <main>
        <section>
            <h2>Information in accordance with Section 5 TMG</h2>
            <p>Tobias Stark<br>
            Leipziger Str. 139<br>
            Fulda, 36037<br>
            Germany</p>
        </section>
        <section>
            <h2>Contact Information</h2>
            <p>Email: tobiasmailphone@gmail.com
        </section>
        <section>
            <h2>Disclaimer</h2>
            <p>The contents of this blog are created with utmost care. However, we cannot guarantee the accuracy, completeness, or timeliness of the content. As a service provider, we are responsible for our own content on these pages in accordance with general laws. We are not obligated to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.</p>
        </section>
        <section>
            <h2>Copyright</h2>
            <p>The content and works provided on these web pages are governed by the copyright laws of Germany. Duplication, processing, distribution, or any form of commercialization of such material beyond the scope of the copyright law shall require the prior written consent of its respective author or creator.</p>
        </section>
        <section>
            <h2>Privacy Policy</h2>
            <p>privacy policy seite erstellen und hier link dorthin einfügen</p>
        </section>
    </main>
    <footer>
        <p>Created by Tobias Stark - © 2024</p>
    </footer>
    <a href="{% url 'index' %}">Back to Home</a>
{% endblock %}