{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Calculator</title>
    <link rel="stylesheet" href="{% static '../static/rust/css/rust_calc.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <div class="rust-logo">
            <img src="../static/rust/img/rust_logo.png" alt="Rust Logo">
        </div>
        <div class="container">
            <h1>Rust Calculator</h1>
            <form id="rustCalculatorForm">
                <div class="form-group-c4">
                    <label for="inputc4">Enter quantity of C4:</label>
                    <input type="number" id="inputc4" min="1" value="1">
                </div>
                <button type="button" onclick="calculateC4()">Calculate</button>
                <div id="result"></div>
            </form>
            <!-- Uncomment the following section for Rocket calculation -->
            <!-- 
            <div class="form-group-rocket">
                <label for="inputRocket">Enter quantity of Rockets:</label>
                <input type="number" id="inputRocket" min="1" value="1">
            </div>
            <button type="button" onclick="calculateRocket()">Calculate</button>
            <div id="resultRocket"></div>
            -->
        </div>
        <script src="../static/rust/js/rust_calc.js"></script>
    </div>
    <a href="{% url 'post_list' %}">Back to Home</a>
</body>
</html>
